<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>
    <typeAliases>
        <package name="com.sjn.opjo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <!--<property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnincode=true&amp;characterEncoding=UTF-8"/>-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="com/sjn/dao/UserMapper.xml"/>-->
        <!--<mapper class="com.sjn.dao.UserMapper.xml"/>-->
        <package name="com.sjn.dao"/>
        <!--注意：
            1）使用类加载和包扫描接口必须和Mapper配置文件同名
            2）使用类加载和包扫描接口必须和Mapper配置文件同包
        -->
    </mappers>
</configuration>